*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 32, 58);
    color: whitesmoke;
    font-family: 'Jost', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(0, 32, 58);
}

h2{
    font-family: 'Press Start 2P', cursive;
}

.pageStart{
    width: auto;
    height: 100vh;
}

.menu{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.menu li{
    padding: 0.5em 1em;
}

.menu a{
    padding: 0.5em 1em;
    transition: background-color 0.5s, color 0.5s, border-top-left-radius 0.5s, border-top-right-radius 0.5s;
}

.menu a:hover{
    background-color: rgb(0, 32, 58);
    color: whitesmoke;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
}

.titles{
    text-align: center;
    justify-content: center;
}

.pageStart h1{
    font-family: 'Meddon', cursive;
}

.about p{
    padding: 1em;
    text-align: justify;
    text-indent: 1em;
}

.about, .projects, .contact{
    padding: 1em;
}

.about, .projects, .contact .siteSubtitles{
    padding-top: 5em;
}

.imgProjects{
    width: 300px;
    height: 200px;
}

.grid{
    padding-top: 4em;
    display: grid;
    gap: 2em;
    grid-template-columns: 300px;
    grid-template-rows: 240px 240px;
    justify-content: center;
}

.cardFront,
.cardBack{
    backface-visibility: hidden;
    position: absolute;
    width: 300px;
    height: 200px;
}

.flipCard{
    perspective: 1000px;
}

.card{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.flipCard:hover .card{
    transform: rotateY(180deg);
}

.cardBack{
    display: flex;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: rgb(0, 32, 58);
    transform: rotateY(180deg);
}
